nav.navbar {
  padding: 3px 16px;
  border-bottom: 2px solid #BE4248;
  background-color: #101010;
  flex-direction: column;
  align-items: flex-start;
  .auth {
    min-width: 315px;
    .nav-link {
      color: #292b2c;
      .active {
        border: 1px solid #be4248;
        &:hover {
          color: #292b2c;
        }
      }
    }
  }
  ul.navbar-nav {
    align-items: flex-end;
    & > .nav-link {
      padding-left: 0;
    }
  }
}
.social-nav {
  background-color: #000;
  border-bottom: 1px solid #252525;
  .navbar-brand {
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    line-height: 50px;
    padding: 0;
  }
  .col {
    a {
      min-height: 50px;
      border-left: 1px solid #252525;
      margin-left: -1px;
      .fa {
        color: rgba(255,255,255,.5);
      }
    }
    &:last-of-type {
      a {
        border-right: 1px solid #252525;
      }
    }
  }
}